@import "tailwindcss";

:root {
  --color-dark-1: #1c1f2e;
  --color-dark-2: #161925; 
  --color-dark-3: #252a41;
  --color-dark-4: #1e2757;

  --color-blue-1: #0e78f9;
  --color-sky-1: #c9ddff;
  --color-sky-2: #ecf0ff;
  --color-sky-3: #f5fcff;

  --color-green-1: #22c55e;
  --color-green-2: #16a34a;

  --color-red-1: #ef4444;
  --color-red-2: #dc2626;

  --font-sans: var(--font-inter);
}

@theme inline {
  --color-dark-1: var(--color-dark-1);
  --color-dark-2: var(--color-dark-2);
  --color-dark-3: var(--color-dark-3);
  --color-dark-4: var(--color-dark-4);

  --color-blue-1: var(--color-blue-1);
  --color-sky-1: var(--color-sky-1);
  --color-sky-2: var(--color-sky-2);
  --color-sky-3: var(--color-sky-3);

  --color-green-1: var(--color-green-1);
  --color-green-2: var(--color-green-2);

  --color-red-1: var(--color-red-1);
  --color-red-2: var(--color-red-2);

  --font-sans: var(--font-inter);
} 

body {
  @apply bg-dark-2 text-white font-sans;
}

.card {
  @apply bg-sky-3 rounded-2xl shadow-md p-4 flex flex-col items-center h-83 w-64 text-dark-1;
}

.load-btn {
  @apply px-4 py-2 bg-green-1 text-white rounded-lg cursor-pointer hover:bg-green-2 disabled:opacity-50
}

.save-btn {
  @apply px-3 py-1 bg-blue-1 text-white rounded-lg hover:bg-blue-600 cursor-pointer;
}

.delete-btn {
  @apply px-3 py-1 bg-red-1 text-white rounded-lg hover:bg-red-2 cursor-pointer;
}

